In [200]:
import pandas as pd
import numpy as np

In [201]:
data = pd.read_csv('estonia-passenger-list.csv')
data

,PassengerId,Country,Firstname,Lastname,Sex,Age,Category,Survived
0,1,Sweden,ARVID KALLE,AADLI,M,NaN,P,NaN
1,2,Estonia,LEA,AALISTE,F,22.0,C,0.0
2,3,Estonia,AIRI,AAVASTE,F,21.0,C,0.0
3,4,Sweden,JURI,AAVIK,M,53.0,C,0.0
4,5,Sweden,BRITTA ELISABET,AHLSTROM,F,55.0,P,0.0
...,...,...,...,...,...,...,...,...
984,985,Sweden,ANNA INGRID BIRGITTA,OSTROM,F,60.0,P,0.0
985,986,Sweden,ELMAR MIKAEL,OUN,M,34.0,P,1.0
986,987,Sweden,ENN,QUNAPUU,M,77.0,P,0.0
987,988,Sweden,LY,GUNAPUU,F,87.0,P,0.0
988,989,Sweden,CARL,OVBERG,M,NaN,P,1.0

In [202]:
data.isnull().sum()

PassengerId     0
Country         6
Firstname       0
Lastname        0
Sex             0
Age             7
Category        6
Survived       10
dtype: int64

In [203]:
# Usunieie wierszy z nullami w kolumnie Survived
data = data.dropna(subset = ['Survived'])
data.isnull().sum()

PassengerId    0
Country        6
Firstname      0
Lastname       0
Sex            0
Age            6
Category       6
Survived       0
dtype: int64

In [204]:
#Usuniecie kolumn z nullami
data = data.drop(columns=["Country",'Category'])
data.isnull().sum()

PassengerId    0
Firstname      0
Lastname       0
Sex            0
Age            6
Survived       0
dtype: int64

In [205]:
# Zastąpienie nulli w kolumie age przez średnia wieku z calej probki
import math
mean_of_age = data["Age"].mean()
data['Age'] = [a if not math.isnan(a) else mean_of_age for a in data['Age']]
data['Age'] = [int(a) for a in data['Age']]
data['Age']

1      22
2      21
3      53
4      55
5      71
       ..
984    60
985    34
986    77
987    87
988    44
Name: Age, Length: 979, dtype: int64

In [206]:
data = data[["Sex","Age","Survived"]]
data = pd.get_dummies(data)
original_data = data

In [ ]:
# PCA

In [207]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [303]:
data = StandardScaler().fit_transform(original_data.drop(columns=['Survived']))
vector = original_data['Survived']

In [304]:
pca = PCA(n_components = 0.99,whiten=True)
data = pca.fit_transform(data)

In [307]:
from sklearn.model_selection import train_test_split
data = [[int(x[0]),int(x[1])] for x in data]
data = pd.DataFrame(data,columns=["First","Second"])
X,x,Y,y = train_test_split(data,vector)

In [308]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X,Y)
LR.score(x,y)

0.8693877551020408

In [309]:
from sklearn.neighbors import KNeighborsClassifier
KN = KNeighborsClassifier()
KN.fit(X,Y)
KN.score(x,y)

0.8326530612244898

In [310]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(X,Y)
svm.score(x,y)

0.8693877551020408

In [214]:
# Variance Threshold

In [260]:
from sklearn.feature_selection import VarianceThreshold

In [290]:
threshold = VarianceThreshold(threshold = .25)
data = threshold.fit_transform(original_data.drop(columns=['Survived']))
vector = original_data["Survived"]

In [291]:
from sklearn.model_selection import train_test_split
data = [[int(x[0])] for x in data]
data = pd.DataFrame(data,columns=["First"])
X,x,Y,y = train_test_split(data["First"],vector)

In [292]:
X= [[z] for z in X]
x= [[z] for z in x]

In [293]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X,Y)
LR.score(x,y)

0.889795918367347

In [294]:
from sklearn.neighbors import KNeighborsClassifier
KN = KNeighborsClassifier()
KN.fit(X,Y)
KN.score(x,y)

0.889795918367347

In [295]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(X,Y)
svm.score(x,y)

0.889795918367347

In [ ]:
#KBest

In [296]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2,f_classif

In [297]:
selector = SelectKBest(chi2,k=2)
vector = original_data['Survived']
data = selector.fit_transform(original_data.drop(columns=['Survived']),vector)

In [299]:
from sklearn.model_selection import train_test_split
data = [[int(x[0]),int(x[1])] for x in data]
data = pd.DataFrame(data,columns=["First","Second"])
X,x,Y,y = train_test_split(data,vector)

In [300]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X,Y)
LR.score(x,y)

0.8326530612244898

In [301]:
from sklearn.neighbors import KNeighborsClassifier
KN = KNeighborsClassifier()
KN.fit(X,Y)
KN.score(x,y)

0.8204081632653061

In [302]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(X,Y)
svm.score(x,y)

0.8448979591836735