In [1]:
import pandas as pd
import numpy as np

In [101]:
data = pd.read_csv('estonia-passenger-list.csv')

In [102]:
data = data[["Sex","Age","Category","Survived"]]
data = pd.get_dummies(data)
data

     Age  Survived  Sex_F  Sex_M  Category_C  Category_P
0     62         0      0      1           0           1
1     22         0      1      0           1           0
2     21         0      1      0           1           0
3     53         0      0      1           1           0
4     55         0      1      0           0           1
..   ...       ...    ...    ...         ...         ...
984   60         0      1      0           0           1
985   34         1      0      1           0           1
986   77         0      0      1           0           1
987   87         0      1      0           0           1
988   42         1      0      1           0           1

[989 rows x 6 columns]

In [103]:
from sklearn.model_selection import train_test_split
X,x,Y,y = train_test_split(data.drop(columns=["Survived"]),data["Survived"])

In [104]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X,Y)
LR.score(x,y)

0.8669354838709677

In [105]:
from sklearn.neighbors import KNeighborsClassifier
KN = KNeighborsClassifier()
KN.fit(X,Y)
KN.score(x,y)

0.8387096774193549

In [106]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(X,Y)
svm.score(x,y)

0.9032258064516129