In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('estonia-passenger-list.csv')
data

,PassengerId,Country,Firstname,Lastname,Sex,Age,Category,Survived
0,1,Sweden,ARVID KALLE,AADLI,M,NaN,P,NaN
1,2,Estonia,LEA,AALISTE,F,22.0,C,0.0
2,3,Estonia,AIRI,AAVASTE,F,21.0,C,0.0
3,4,Sweden,JURI,AAVIK,M,53.0,C,0.0
4,5,Sweden,BRITTA ELISABET,AHLSTROM,F,55.0,P,0.0
...,...,...,...,...,...,...,...,...
984,985,Sweden,ANNA INGRID BIRGITTA,OSTROM,F,60.0,P,0.0
985,986,Sweden,ELMAR MIKAEL,OUN,M,34.0,P,1.0
986,987,Sweden,ENN,QUNAPUU,M,77.0,P,0.0
987,988,Sweden,LY,GUNAPUU,F,87.0,P,0.0
988,989,Sweden,CARL,OVBERG,M,NaN,P,1.0

In [5]:
data.isnull().sum()

PassengerId     0
Country         6
Firstname       0
Lastname        0
Sex             0
Age             7
Category        6
Survived       10
dtype: int64

In [6]:
# Usunieie wierszy z nullami w kolumnie Survived
data = data.dropna(subset = ['Survived'])
data.isnull().sum()

PassengerId    0
Country        6
Firstname      0
Lastname       0
Sex            0
Age            6
Category       6
Survived       0
dtype: int64

In [7]:
#Usuniecie kolumn z nullami
data = data.drop(columns=["Country",'Category'])
data.isnull().sum()

PassengerId    0
Firstname      0
Lastname       0
Sex            0
Age            6
Survived       0
dtype: int64

In [8]:
# Zastąpienie nulli w kolumie age przez średnia wieku z calej probki
import math
mean_of_age = data["Age"].mean()
data['Age'] = [a if not math.isnan(a) else mean_of_age for a in data['Age']]
data['Age'] = [int(a) for a in data['Age']]
data['Age']

1      22
2      21
3      53
4      55
5      71
       ..
984    60
985    34
986    77
987    87
988    44
Name: Age, Length: 979, dtype: int64

In [9]:
data = data[["Sex","Age","Survived"]]
data = pd.get_dummies(data)
data

     Age  Survived  Sex_F  Sex_M
1     22       0.0      1      0
2     21       0.0      1      0
3     53       0.0      0      1
4     55       0.0      1      0
5     71       0.0      1      0
..   ...       ...    ...    ...
984   60       0.0      1      0
985   34       1.0      0      1
986   77       0.0      0      1
987   87       0.0      1      0
988   44       1.0      0      1

[979 rows x 4 columns]

In [10]:
from sklearn.model_selection import train_test_split
X,x,Y,y = train_test_split(data.drop(columns=["Survived"]),data["Survived"])

In [136]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X,Y)
LR.score(x,y)

0.8367346938775511

In [137]:
from sklearn.neighbors import KNeighborsClassifier
KN = KNeighborsClassifier()
KN.fit(X,Y)
KN.score(x,y)

0.8204081632653061

In [138]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(X,Y)
svm.score(x,y)

0.8448979591836735